@font-face {
    font-family: 'SoftSoul';
    src: url("Softsoul.eot");
    src: url("Softsoul.eot#iefix") format("embedded-opentype"),
    url("Softsoul.woff") format("woff"),
    url("Softsoul.ttf") format("truetype"),
    url("Softsoul.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Karla');

/******************************************/
/* Variables */
/******************************************/

@darkColor: #666;

@performanceColor: #FFBCD4;
@techniqueColor: #BCE8FF;
@visualColor: #FFE8BC;

/******************************************/
/* Tools */
/******************************************/

@transition: 0.2s ease;

.text-3d-border(@color) {
    text-shadow:
    2px 2px 0 @color,
    -1px -1px 0 @color,
    1px -1px 0 @color,
    -1px 1px 0 @color,
    1px 1px 0 @color;
}

/******************************************/
/* Bootstrap / Home basics */
/******************************************/

body {
    font-family: 'Karla', sans-serif;
    color: @darkColor;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .title, .navbar-brand, .btn-lg, .btn-xl, .collection-table .table-headers-sections th {
    font-weight: bold;
}

.btn-lg small, .btn-xl small {
    font-family: 'Karla', sans-serif;
    font-style: normal;
}

.navbar-brand img.logo {
    max-height: 85px;
    box-sizing: border-box;
    margin: -20px 0 -20px 0;
    background: @mainColor;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 13px;
}

.navbar {
    li[data-link-name="bangdream"]>a>img {
        height: 26px;
        margin: -5px;
    }
    li[data-link-name="girlsbandparty"]>a>img {
        height: 36px;
        margin: -10px -8px;
    }
}

#sidebar-wrapper {
    font-size: 0.8em;
    .form-control [class^=flaticon] {
        font-size: 1.2em;
    }
}

/******************************************/
/* Single pages */
/******************************************/

/* Team builder */

.team-builder-member {
    width: 20%;
    display: inline-block;
}

/* About */

.below-about {
    padding: 0 150px;
    img:first-child {
        float: right;
        height: 500px;
        margin-left: 60px;
    }
}

/* Gallery */

.gallery-category {
    figcaption {
        display: inline-block;
        margin-top: -70px;
        font-size: 1.5em;
        font-weight: normal;
        width: 97.5%;
        border: 0;
        border-radius: 40px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: 0;
        padding: 15px 10px;
        max-width: 342px;
    }
    &:hover, &:focus {
        figcaption {
            background-color: darken(@mainColor, 10%);
            border-color: darken(@mainColor, 12%);
        }
    }
}

html:not([lang^="zh-han"]):not([lang="kr"]):not([lang="ja"]):not([lang="ru"]):not([lang="vi"]) {
    .gallery-category figcaption {
        font-family: 'SoftSoul', 'Impact', sans-serif;
        font-style: italic;
    }
}

/* Model viewer */

#dlcontainer {
    padding-top: 32px;
    position: relative;
    text-align: center;
}

#freeModal #dlcontainer {
    padding-top: 0;
}

#dltarget {
    /* Important: this has to be kept in sync with the code in
     * DirectorLite.prototype.screenshot. */
    background-size: cover;
    background-position: 15% center;
    background-image: url(../img/bg_live2d_viewer.png);
    border-radius: 10px;
}

#dlcontrols {
    position: absolute;
    top: 32px;
    left: 0;
    text-align: left;
    padding: 10px;

    &.dlhidden > div {
        display: none;
    }
    &.dlexpanded > div {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.70);
        border-radius: 8px;
        margin-top: 8px;
    }
    .dltoggleupdates {
        outline: none;
    }
}

#freeModal #dlcontrols {
    top: 0;
}

/******************************************/
/* MagiCollections Elements */
/******************************************/

/* Generic */

[data-field^="event"], [data-field^="gacha"],
.event-info [data-field$="_image"],
.event-info [data-field="image"],
.gacha-info [data-field$="_image"],
.gacha-info [data-field="image"]
{
    td:last-child img {
        width: 300px;
        max-height: none;
    }
}

[data-field="cards"], [data-field="songs"] {
    td:last-child img {
        width: 140px;
    }
}

.container-for-generic-form, #cuteform-modal {
    [data-cuteform-name="id_i_band"], [data-cuteform-name="id_member_band"] {
        img:not([data-cuteform-text="---------"]) {
            height: 100px;
            width: auto;
        }
    }
    [data-cuteform-name="id_main_card"], [data-cuteform-name="id_secondary_card"], [data-cuteform-name="id_center"] {
        img.cuteform-elt:not([data-cuteform-text="---------"]) {
            width: 70px!important;
            height: auto;
            border-radius: 8px;
        }
        [data-cuteform-text="---------"] {
            width: 60px;
            height: auto;
        }
    }
    [data-cuteform-name="id_event"] {
        img:not([data-cuteform-text="---------"]) {
            height: 60px;
            width: auto;
            border-radius: 8px;
        }
    }
}

[data-cuteform-name="id_gacha_type"] {
    [class^="flaticon-"] {
        font-size: 18px;
        font-weight: normal;
    }
}

/* Card */

@card-width: 545px;
@trainable-card-width: 800px;

.card-wrapper {
    max-width: @card-width;
    position: relative;
    margin: auto;
    &.trainable {
        max-width: @trainable-card-width;
    }
}

.card {
    @border-radius: 10px;
    @card-height: 402px;

    color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: @border-radius;
    border: 1.5px solid;
    height: @card-height + 13px;
    positon: relative;
    text-align: center;
    max-width: @card-width;
    overflow: hidden;
    &:hover, &:focus {
        color: white;
    }
    figure {
        border-radius: @border-radius;
    }
    &.trainable {
        @slow-transition: 1s;
        max-width: @trainable-card-width;
        .card-image {
            width: 49.5%;
            transition: width @slow-transition, height @slow-transition, border-width @slow-transition;
        }
        figure {
            &:hover {
                .card-image {
                    width: 9%;
                }
                .card-image {
                    &:hover {
                        width: 90%;
                        border-width: 1.5px;
                    }
                }
            }
        }
    }
    .card-image {
        background-color: rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        height: @card-height;
        display: inline-block;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1.5px solid;
        border-radius: @border-radius;
        width: 100%;
        &.normal {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
        &.trained {
            margin-left: 1%;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }

    .rarity_border_color(@color) {
        border-color: @color;
        .card-image {
            border-color: @color;
        }
        .member-name {
            color: white;
            -webkit-text-stroke: 1px @color;
            font-style: italic;
            .text-3d-border(@color);
        }
    }

    .per_attribute(@color) {
        &.card-rarity-1 {
            background-image: linear-gradient(140deg, @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%), @color, lighten(@color, 20%));
            .rarity_border_color(@color);
        }
    }
    &.card-Power { .per_attribute(@PowerColor); }
    &.card-Cool { .per_attribute(@CoolColor); }
    &.card-Pure { .per_attribute(@PureColor); }
    &.card-Happy { .per_attribute(@HappyColor); }

    &.card-rarity-4 {
        background-image: linear-gradient(140deg, #F97EE6, #FEE4F8, #F8A382, #F8C74F, #A8E651, #4CE1EE, #669EF5, #E5E5FD, #ED7DDF);
        .rarity_border_color(lighten(#AD3EC4, 20%));
    }
    &.card-rarity-3 {
        background-image: linear-gradient(140deg, #FFDA3C, #FFFFE8, #FFC537, #FBA922, #FFFFE8, #FFFFE8, #FFD02D, #FAA41A, #FFFFE8, #FEBF35, #FEBF35);
        .rarity_border_color(lighten(#532626, 45%));
    }
    &.card-rarity-2 {
        background-image: linear-gradient(140deg, #9FB5C7, #D9FFFF, #97B5C9, #D9FFFF, #95ADBA, #D9FFFF, #9FB5C7, #9FB5C7);
        .rarity_border_color(lighten(#4A6675, 20%));
    }

    .rarity, .attribute {
        height: @card-height + 10px;
        pointer-events: none;
    }
    .rarity, .attribute, .member-name {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
    }
    .rarity {
        background-position: bottom left;
        bottom: 3px;
        left: 3px;
    }
    .attribute {
        background-position: top right;
        background-size: 40px;
        top: 3px;
        right: 3px;
    }
    .member-name {
        font-family: 'SoftSoul', 'Impact', sans-serif;
        transform: rotate(-3deg);
        text-align: right;
        bottom: -5px;
        right: 13px;
        color: white;
        margin: 0;
        padding: 0;
    }
}

.card-wrapper + .below-item-buttons {
    .btn {
        border-radius: 10px;
        font-size: 1em;
    }
}

.card-info {
    .top-item {
        padding: 0;
    }

    .card-statistics {
        padding: 0;
        padding-top: 20px;
        .btn {
            border-radius: 20px!important;
            font-weight: bold;
            color: #666;
            &:hover, &:focus {
                text-decoration: none;
            }
            &.active {
                color: white;
                box-shadow: none;
                &.attribute-Power { background-color: @PowerColor; }
                &.attribute-Cool { background-color: @CoolColor; }
                &.attribute-Pure { background-color: @PureColor; }
                &.attribute-Happy { background-color: @HappyColor; }
            }
        }
        .btn-group, .tab-content {
            margin: auto;
            width: 100%;
            max-width: 800px;
        }
        .tab-content {
            text-align: left;
        }
        hr {
            border-top: 5px dotted #eee;
            margin-top: 20px;
        }
    }

}

[class^="stat-label-"] {
    display: inline-block;
    padding: 4px 12px;
    margin-top: -4px;
    color: #666;
    font-weight: bold;
    border-radius: 20px;
    min-width: 100%;
}
.stat-label-performance { background-color: @performanceColor; }
.stat-label-technique { background-color: @techniqueColor; }
.stat-label-visual { background-color: @visualColor; }
.stat-label-Power { background-color: lighten(@PowerColor, 30%); }
.stat-label-Cool { background-color: lighten(@CoolColor, 30%); }
.stat-label-Pure { background-color: lighten(@PureColor, 30%); }
.stat-label-Happy { background-color: lighten(@HappyColor, 30%); }

.progress-bar-performance { .progress-bar-variant(@performanceColor); }
.progress-bar-technique { .progress-bar-variant(@techniqueColor); }
.progress-bar-visual { .progress-bar-variant(@visualColor); }

.progress-bar-Power-light { .progress-bar-variant(lighten(@PowerColor, 30%)); }
.progress-bar-Cool-light { .progress-bar-variant(lighten(@CoolColor, 30%)); }
.progress-bar-Pure-light { .progress-bar-variant(lighten(@PureColor, 30%)); }
.progress-bar-Happy-light { .progress-bar-variant(lighten(@HappyColor, 30%)); }

@media (max-width: 890px) {
    .icon-card, .icon-card + .btn-group {
        margin: 0 -15px;
        width: 130%;
        img {
            width: 130%;
        }
    }
    .icon-card + .btn-group {
        display: block;
        margin-bottom: 20px;
        & > .btn {
            display: block;
            width: 100%;
            border-radius: 5px!important;
            margin: 2px 0;
        }
    }
}

.collection-table [data-item="collectiblecard"] [data-field="image"] {
    width: 10%;
}

.about-table {
    max-width: 800px;
    margin: auto;
    td:last-child {
        text-align: right;
    }
}

#profile #username {
    font-family: 'SoftSoul', 'Impact', sans-serif;
    font-style: italic;
}

#profiletabs li {
    font-size: 1.5em;
    font-weight: 700;
    i[class^="flaticon-"] {
        font-weight: normal;
    }
}

.panel-default-account {
    .username, .level {
        font-family: 'SoftSoul', 'Impact', sans-serif;
        font-style: italic;
    }
    .about-table {
        max-width : 100%;
    }
    .account-tabs li {
        width: auto!important;
    }
}

.card-info {
    tr[data-field="images"], tr[data-field="transparents"], tr[data-field="arts"], tr[data-field="chibis"] {
        a { .a-nodifference(); }
        img {
            max-width: 50%;
            height: auto;
            max-height: none;
            box-sizing: border-box;
            margin: 0 -4px;
            padding: 0 5px;
        }
    }
    tr[data-field="chibis"] img {
        max-width: none;
        max-height: 200px;
    }
}

[data-header-field="skill"], td[data-field="skill_type"] {
    min-width: 400px;
}
[data-header-field="skill"], td[data-field="skill_type"], th[data-header-field="skill_type"],
td[data-field$="_min"], th[data-header-field$="_min"] {
    border-left: 1px solid #ddd;
}

.collection-table td[data-field="skill_type"] {
    text-align: left;
}
.current-card_list {
    .table-headers-sections th {
        &:not(:first-child) {
            border-left: 1px solid #ddd;
        }
    }
}

/* Member */

.member-info {
    max-width: 600px;
    margin: auto;
    td:last-child {
        width: 55%;
        text-align: right;
    }
    tr[data-field="astrological_sign"] {
        img {
            opacity: 0.6;
        }
    }
    tr[data-field="associated_costume"].spread_across td:last-child img {
        width: 28%;
        margin: 5px -5%;
    }
    tr[data-field="fans"].spread_across  td:last-child img {
        width: 11%;
        min-width: 40px;
    }
    tr[data-field="officialarts"], tr[data-field="comics"], tr[data-field="stamps"] {
        &.spread_across  td:last-child img {
            border-radius: 5px;
            border: 2px solid #eee;
        }
    }
}

.modal-body .member-info .member-image {
    margin: -50px 0 -30px 0;
}

tr[data-field="band"] img {
    width: 200px;
    margin: -16px 0;
}

.member {
    text-align: center;
    transition: color @transition, opacity @transition;
    img {
        max-width: 100%;
    }
    h3 {
        font-family: 'SoftSoul', 'Impact', sans-serif;
        transform: rotate(-6deg);
        margin-top: -10px;
        font-style: italic;
        .text-3d-border(white);
    }
    &:hover, &:focus {
        opacity: 0.8;
        text-decoration: none;
        color: lighten(@mainColor, 10%);
    }
}

#id_i_astrological_sign + .cuteform {
    .cuteform-elt:not([data-cuteform-val=""]) {
        background-color: fade(white, 80%);
        border-radius: 8px;
        padding: 3px;
        width: 22px;
        &.cuteform-selected {
            background-color: white;
        }
    }
}

/* Events, gachas */

#sidebar-wrapper #id_status + .cuteform .cuteform-elt {
    margin: 0;
}

/* Event */

#id_i_boost_stat + .cuteform {
    .cuteform-elt {
        padding: 0;
        vertical-align: middle;
        line-height: 30px;
        width: 30px;
        text-align: center;
        span {
            display: block;
            border-radius: 50%;
            font-size: 1.2em;
            color: #666;
            font-weight: bold;
        }
        &.cuteform-selected:not([data-cuteform-val=""]) {
            border-color: #666;
        }
    }
    .cuteform-elt[data-cuteform-val="0"] span {
        background-color: @performanceColor;
    }
    .cuteform-elt[data-cuteform-val="1"] span {
        background-color: @techniqueColor;
    }
    .cuteform-elt[data-cuteform-val="2"] span {
        background-color: @visualColor;
    }
}

/* Song */

[data-field^="song"] img {
    max-height: 150px;
}

.top-item .song-image {
    max-height: none;
}

.song-info {
    .top-item {
        max-width: 800px;
        margin: auto;
        padding-bottom: 0;
        h1 {
            font-size: 3em;
            .romaji {
                font-family: 'SoftSoul', 'Impact', sans-serif;
                font-style: italic;
            }
        }
        .band {
            width: 200px;
            max-width: 100%;
        }
    }
}

.song-small-note, .song-big-note {
    vertical-align: bottom;
}

.song-small-note {
    width: 8px;
}

.song-big-note {
    width: 15px;
}

.songwriters-details {
    display: inline-block;
    text-align: left;
}

.add_buttons a[href^="/songs/add/"] {
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 1em;
    h3 {
        margin: 0;
        font-size: 1em;
    }
}

#id_i_difficulty + .cuteform img {
    width: 45px;
    height: 45px;
}

[data-header-field="screenshot"] {
    text-align: right;
}

[data-header-field="difficulty"], [data-header-field="full_combo"],  {
    text-align: center;
}

.collection-table [data-item="playedsong"] {
    text-align: left;
    [data-field="image"], [data-field="difficulty"], [data-field="screenshot"] {
        img {
            width: auto;
            max-width: 90%;
        }
    }
    [data-field="image"] {
        width: 8%;
    }
    [data-field="difficulty"] {
        width: 15%;
        text-align: center;
        img {
            width: 45px;
        }
    }
    [data-field="full_combo"] {
        text-align: center;
        font-size: 1.4em;
    }
    .screenshot_preview {
        height: 63px + 16;
        width: 100%;
        margin: -8px -8px -8px 8px;
        background-size: 100%;
        background-position: center center;
    }
    [data-field="buttons"] {
        width: 5%;
    }
}

/* Account */

[data-item="account"] {
    [data-btn-name="version"] img {
        display: inline-block;
        margin-top: -2px;
        margin-left: 5px;
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
    }
}

/* Area / Area items */

.area, .area_see_all, .list-page-title-area {
    .a-nodifference();
    display: block;
    text-align: center;
    h5, &.list-page-title-area {
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 1.4em;
        transition: background @transition;
        display: inline-block;
    }
    h5 {
        width: 220px;
    }
    &:hover, &:focus {
        h5 {
            background: white;
        }
    }
}

.area_back_to_gallery {
    .a-nodifference();
    display: inline-block;
    background: rgba(230, 230, 230, 0.8);
    padding: 6px 10px;
    border-radius: 10px;
    transition: background @transition;
    border: 1px solid transparent;
    h5 {
        font-size: 1.2em;
        .flaticon-back {
            font-size: 0.8em;
        }
    }
    &:hover, &:focus {
        background: white;
        border: 1px solid #ccc;
    }
}

.item_quantity {
    background: rgba(0, 0, 0, 0.65);
    padding: 6px 10px;
    margin: 8px 0 20px 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    &.collectibleitem {
        text-align: right;
    }
}

/* Assets */

[data-item="asset"] {
    .asset-image {
        border-radius: 15px;
        border: 2px solid #eee;
    }
}


.asset-info {
    [data-field="type"] {
        li {
            display: inline-block;
            padding-left: 10px;
            a {
                font-size: 0.8em;
                color: #ccc;
            }
        }
    }
}

/* Costume */

.costume_link {
    text-align: center;

    .cos_image {
        height: 200px;
        position: relative;
    }

    .cos_image::after {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
        height: 20px;
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;

        content: '';
    }

    .cos_caption {
        padding-top: 6px;
        font-weight: bold;
    }
}
